* {
  font-family: georgia;
}
body{
  margin: 0;
  padding: 0;
}
.vstack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hstack {
  display: flex;
  justify-content: center;
  align-items: center
}
html {
  overflow-x: hidden;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
    font-style: italic;
    text-decoration: underline;
}
a:visited {
  color: #540494;
  font-style: italic;
}
header {
  display: flex;
  width: 100%;
  height: 20vh;
  min-height: 15em;
  justify-content: space-around;
  align-items: center;
  margin: 0.5em;
}
.socials img {
  height: 2.5em;
  width: 2.5em;
  object-fit:cover;
}
.socials {
  margin-top: .5em;
  gap: 0.5em;
}
.top-banner {
  display: flex;
}
.headline-scroller {
  display: none;
  position: relative;
  height: 1.75rem;
  border-top: 0px !important;
}
.headline-scroller .container {
  grid-gap: 5em;
  animation-name: slide;
  animation-duration: 45s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-direction: normal;
}
@keyframes slide {
  0% {
      transform: translateX(0%);
    }
  100% {
      transform: translateX(-100%);
    }
}
.top-banner, .headline-scroller {
  width: 100%;
  font-size: 1.25em;
  text-wrap: nowrap;
  gap: 3em;
  margin: 0;
  padding: 0.25em 0;
  overflow-x: hidden;
  justify-content: space-around;
  border-top: 2px solid black;
  border-bottom: 3px solid black;
}
.headline-scroller h2 {
  font-size: 1em;
  padding: 0;
  margin: 0 0.25em;
  font-weight: 300;
}
.slogan,
.disclaimer {
  border: 2px solid black;
  padding: 1em;
  font-size: 1.5em;
  max-width: 20em;
  text-align: center;
}
.disclaimer {
  font-size: 1em;
  border: none;
}
.disclaimer strong {
  font-size: 1.125em;
}
.article-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2.5em;
  flex: 2;
  border-right: 3px solid black;
  border-left: 3px solid black;
  margin: 0 auto;
  max-width: 95%;
  margin-top: 1em;

}
.article {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.7rem 2em;
}
.article h1 {
  padding: 0em .25em;
  margin-bottom: 0;
  margin-top: 0;
}
.article h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
}
.article p {
  text-align: center;
  padding: 2em;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1.125em;
  margin-bottom: 0;
}
.article img {
  max-height: 40vh;
  max-width: 90vw;
  object-fit: cover;
  margin-top:0.85em;
}
.left-sidebar,
.right-sidebar {
  max-height: fit-content;
  top 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.25em;

  /*TODO: MAKE STICKY*/
}
.left-sidebar h1,
.right-sidebar h1 {
  margin-bottom: 0;
  text-align: center;
}
.left-sidebar li,
.right-sidebar h2 {
  max-width: 85%;
  padding-bottom: 0;
  padding-top: 0;
  margin: 0 auto;
  font-weight: 500;
  font-size: 1.5em;
  margin-bottom: 1em;
}
.left-sidebar ol {
  margin: 0 auto;
}
.article-body {
  width: min(90%, 80em);
  margin: 0 auto;
  justify-content: flex-start;
  gap: 0;
  line-height: 1.3;
}
.article-body h1 {
  margin-bottom: 0;
  padding: 0;
  font-size: 2.5em;
  text-align: center;
}
.article-body h2 {
  margin-top: 0;
  font-weight: 500;
}
@media (max-width: 1050px) {
  .disclaimer, .slogan {
    display: none;
  }
  .headline-scroller {
    display:flex;
  }
  .right-sidebar, .left-sidebar {
    display: none;
  }
  .article-container {
    border: none;
  }
  .top-banner span:nth-child(1), .top-banner span:nth-child(3) {
    display: none;
  }
  .top-banner span:nth-child(2) {
    display: flex;
  }
  .top-banner {
    gap: 0em;
  }
  .article {
    padding: 0;
  }
}
.page-editor input {
  font-size: 1.25rem;
  padding: 0.25em 1em;
  width: 20em;
}
.page-editor label {
  font-size: 1.25em;
}
.article .icon-bar {
  margin-top:0.75em;
  gap: 0.5em;
}
.article .icon-bar img, .icon {
  height: 2.5em;
}
.icon {
  height: 1em
}
.link {
  color: blue;
}
